@forward 'globals';
body{
    height: 100vh;
}

main{
    background:url(./../images/bg-intro-mobile.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--Red);
    @media (min-width:685px) {
        background: url(./../images/bg-intro-desktop.png);
        background-color: var(--Red);
    }
}

.container{
    padding:5.5rem 30px 4rem 30px;
    @media (min-width:685px) {
        display: grid;
        height: 100vh;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
        place-content: center;
        padding: 0 10vw;
    }
    &__texts{
        align-self: center;
        color: white;
        text-align: center;
        @media (min-width:685px) {
            text-align: left;
            justify-self: center;
        }
        &--titel{
            font-size: clamp(1.7rem , 1rem + 2vw , 4rem);
            margin-bottom: 18px;
        }
        &--par{
            font-size: 16px;
            font-size: clamp(16px , 1rem + 0.5vw , 20px);
            opacity: 0.7;
            font-weight: 400;
            margin-bottom: 60px;
            @media (min-width:685px) {
                opacity: 1;
            }
        }
    }
    &__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media (min-width:685px) {
            padding: 0 3vw;
        }
    
        &--head{
            margin-bottom: 20px;
            background-color: var(--Blue);
            color: white;
            text-align: center;
            padding:20px 0px;
            width: 100%;
            box-shadow: 0px 10px 0px rgb(0, 0, 0,0.1);
            border-radius: 10px;
                font-weight:700 ;
            span{
                font-weight: 200;
                opacity: 0.7;

            }
          
        }

    }
}

.inputs{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    width: 100%;
    flex-direction: column;
    box-shadow: 0px 10px 1px rgb(0, 0, 0,0.2);
    @media (min-width:685px) {
        padding: 2vw;
    }
    &__container{
        position: relative;

        & input{
            width: 100%;
            padding: 10px 15px;
            border:1px solid hsl(246, 25%, 77%,0.6);
            outline: none;
            border-radius: 5px;
            margin-bottom: 25px;
        }
        &--pic{
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translate(0,-50%);
            display: none;
        }
        &--er_ms{
            color:var(--Red);
            position: absolute;
            right: 0;
            font-size: 12px;
            display: none;
        }
        & input:focus{
            border-color: black;
        }
        & input[type='submit']{
            background-color: var(--Green);
            color: white;
            text-transform:uppercase;
            letter-spacing: 1.4px;
            padding: 15px 0;
            border: none;
            outline: none;
            cursor: pointer;
            box-shadow: 0px 5px  2px  hsl(154, 56%, 38%);
            &:hover{
                background-color: hsl(154, 59%, 51%,0.7);
            }
        }
    }
    &__last-text{
        text-align: center;
        font-size: 12px;
        color: var(--Grayish-Blue);
        span{
            font-size: 12px;
            color: var(--Red);
        }
    }
}

footer{
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    a:active,a:visited{
       color: var(--Blue); 
    }
    @media (width > 685px) {
        display: block;
    }
}